<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <title>homepage</title>
</head>
<body>
<div class="page-content">
    <h1>hello im form home</h1>
    <a href="admin"><h4>Admin Here</h4></a>
</div>

<footer>
    <div class="footer-container">
        <div class="left-col">
            <img src="logo.png" alt="" class="logo">
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
<p class="right-text">copyright 2020 created by PEYMASH all right reserved.</p>
        </div>
        <div class="right-col">
            <h1>Our Newsletter</h1>
            <div class="border"></div>
            <p>Enter your Email to get our news and updates.</p>
            <form action="" class="newsletter-form">
                <input type="text"class="txtb" placeholder="Enter Your Email">
                <input type="submit" class="btn" value="submit">
            </form>

        </div>
    </div>
</footer>


</body>
</html>